.page {
  font-family: var(--font-geist-sans);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  max-width: 90vw;
  margin: auto;
}
.page image {
  width: 100%;
  position: relative;
  height: 100%;
}
.page h1 {
  font-size: 3rem;
  color: #333;
  line-height: 3.8rem;
}
.page input {
  padding: 1rem;
  width: 40vw;
  border-radius: 1rem;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.slideUp {
  animation: 1.8s slideUp ease;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translatey(40%);
  }

  to {
    opacity: 1;
    transform: translatey(-12%);
  }
}

@media (max-width: 768px) {
  .page input {
    width: 80vw;
  }
  .page h1 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}

.customInput {
  width: 100%; /* w-full */
  position: relative; /* relative */
  font-size: 0.875rem; /* text-sm */
  font-family: 'Geist Sans', sans-serif; /* font-geist-sans */
}

@media (min-width: 640px) {
  /* sm: */
  .customInput {
    font-size: 1rem; /* sm:text-base */
    padding-left: 2.5rem; /* sm:pl-10 */
  }
}

.customInput {
  z-index: 50; /* z-50 */
  border: none; /* border-none */
  color: black; /* text-black */
  height: 100%; /* h-full */
  border-radius: 9999px; /* rounded-full */
  padding-left: 1rem; /* pl-4 */
  padding-right: 5rem; /* pr-20 */
}

.customInput:focus {
  outline: none; /* focus:outline-none */
}

.customBrutalButton {
  padding: 0.125rem 2rem; /* px-8 py-0.5 */
  border: 2px solid black; /* border-2 border-black */
  background-color: white; /* bg-white */
  color: black; /* text-black */
  text-transform: uppercase; /* uppercase */
  font-size: 0.875rem; /* text-sm */
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; /* transition duration-200 */
  box-shadow: 1px 1px rgba(0, 0, 0), 2px 2px rgba(0, 0, 0),
    3px 3px rgba(0, 0, 0), 4px 4px rgba(0, 0, 0), 5px 5px 0px 0px rgba(0, 0, 0); /* Brutalist box shadow */
}

.card {
  cursor: pointer;
  background: #ccc;
  width: 18rem;
  padding: .2rem 0 2rem 0;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 3rem auto;
}
