.page {
  font-family: var(--font-geist-sans);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 4rem;
  text-align: center;
}

.page h1 {
  font-size: 3rem;
  color: #333;
}

.user {
  width: 50vw;
}

@media (max-width: 768px) {
  .page h1 {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .user {
    width: 70vw;
  }
}

.container {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  min-height: 80vh;
}

.slideUp {
  animation: slideUp 1.8s ease forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(-12%);
  }
}


.userName {
  padding-bottom: 0.5rem;
}

.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.userPublicRepos {
  display: block;
  color: #555;
  font-size: 0.85rem;
  margin-top: 0.2rem;
}

.repoList {
  list-style: none;
  padding: 0;
}

.repoItem {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.repoItem:hover {
  background: rgba(0, 0, 0, 0.05);
}

.repoDescription {
  display: block;
  font-size: 0.85rem;
  margin-top: 0.2rem;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.disabledButton {
  opacity: 0.2;
  pointer-events: none;
}
