.page {
  font-family: var(--font-geist-sans);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 4rem;
}
.page h1 {
  font-size: 3rem;
  color: #333;
}

.slideUp {
  animation: 1.8s slideUp ease;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translatey(40%);
  }

  to {
    opacity: 1;
    transform: translatey(-12%);
  }
}

.user {
  width: 50vw;
}

@media (max-width: 768px) {
  .user {
    width: 80vw;
  }
  .page h1 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top: 4px solid black;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
